<section class="container">
  {% for product in collections[section.settings.featured_collection].products %}
    <div class="card">
      <img src="{{product.featured_media.preview_image | img_url:"medium"}}" alt="{{product.title}}">
      <div class="card-body">
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | money_with_currency }}</p>
      </div>

    </div>
  {% endfor %}


</section>


{% schema %}
  {
    "name": "Featured Collection",
    "class": "fetaured-collection-section",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "title",
        "default": "Featured Collection",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}