<section class="container">

  {% for product in collections[section.settings.featured_collection].products %}
    {{ product.title }}
  {% endfor %}


</section>


{% schema %}
  {
    "name": "Featured Collection",
    "class": "fetaured-collection-section",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "title",
        "default": "Featured Collection",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}