<div class="container">
  <div class="col-md-6 col-md-8">
    <h1>Example Hero Title</h1>
    <p>Hero Description here</p>
    <button class="btn btn-secondary">Shop Now</button>
  </div>
</div>

{% schema %}
{
    "name":"hero",
    "class":"hero-section",
    "settings":[
        {
            "type":"text",
            "id":"title1",
            "default":"Example Heading",
            "label":"Heading Title"
        }
    ]
}
{% endschema %}
