<!-- homepage.liquid -->

<div class="main-homepage">
  <h1 class="heading">heading</h1>
  <span class="text"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, veritatis iure voluptatum sit explicabo perspiciatis
    error quas labore tenetur consequatur illum saepe quae porr, accusantium enim ratione, maiores omnis tempora.</span
  >
</div>

{% schema %}
{
  "presets": [
    {
      "category": "salad",
      "name":"homepagesalad"
    }
  ],
  "name": "homepage",
  "settings": [
    {
      "type": "text",
      "id": "homepage",
      "label": "homepage",
      "default": "text"
    }
  ]
}
{% endschema %}
